*
  outline: none
  -webkit-tap-highlight-color: transparent

:root
  // --primary-color: #4f72a3
  // --second-color: #333333
  // --codebg-color: #f8faff
  // --hilite-color: #839fee
  // --link-color: #3377ee
  --white: #fff
  --dark-gray: #333
  --gray: #555
  --light-gray: #999
  --dark-white: #eee
  --primary-pink: #ef9c9a
  --primary-blue: #195b87
  --primary-blue-light: #2975a9
  --primary-blue-dark: #0f3d5a
  --warning: #ff6767

  --trans-s: .2s
  --trans-m: .4s
  --trans-l: .8s
  --trans-xl: 1.2s

html
  font-size: 100%
  body
    font-family: $basic-font
    background-color: #f8f8f8
    &::-webkit-scrollbar-track
      border-radius: 10px
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    &::-webkit-scrollbar
      width: 6px
      +rwdmax(768)
        display: none
    &::-webkit-scrollbar-thumb
      border-radius: 10px
      background-color: rgba(108, 110, 113, 1)
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)


// space-lr
.space-lr
  padding-left: 60px
  padding-right: 60px
  +rwdmax(1024)
    padding-left: 45px
    padding-right: 45px
  +rwdmax(767)
    padding-left: 20px
    padding-right: 20px

// mw-1200
.mw-1200
  max-width: 1200px
  margin: auto


// 元件類
// modal
.modal-wrapper
  position: fixed
  z-index: 10
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, .5)
  backdrop-filter: blur(3px)
  .modal-bg
    z-index: 0
    +posFill
  .modal-content
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    margin: 10vh 0
    height: 80vh
    overflow: auto

// form
form
  label
    width: 100%
    display: block
    position: relative
    & + label
      margin-top: 15px
    &[data-warning]:not([data-warning=""])
      margin-bottom: 25px
      &::after
        position: absolute
        left: 0
        bottom: -25px
        display: inline-block
        content: attr(data-warning)
        font-size: px(12)
        margin-left: 20px
        margin-top: 10px
        color: var(--warning)
    input
      width: 100%
      border: 1px solid var(--dark-white)
      padding: 12px 20px
      border-radius: 20px
      background-color: #f8f8f8
      font-family: $code-font
      &:focus, &:valid
        box-shadow: 0 0 5px rgba(0, 0, 0, .1)
      &:focus + span, &:valid + span
        background-color: #fff
        transform: translate(2px, -22px) scale(.8)
        color: var(--primary-pink)
    span
      position: absolute
      display: inline-block
      left: 17px
      top: calc(50% - 7px)
      color: var(--light-gray)
      font-size: px(14)
      font-family: $code-font
      transition: transform var(--trans-s)
      transform-origin: left center
      padding: 0 2px
      pointer-events: none

// close-btn
.close-btn
  position: relative
  width: 30px
  height: 30px
  border-radius: 50%
  cursor: pointer
  transition: background-color var(--trans-s)
  &:hover
    background-color: var(--dark-white)
  &::before, &::after
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(45deg)
    content: ''
    display: block
    background-color: var(--gray)
    transition: var(--trans-s)
  &::before
    width: 1px
    height: 16px
  &::after
    width: 16px
    height: 1px

// rect-btn
.rect-btn
  width: 100%
  padding: 15px
  text-align: center
  font-size: px(14)
  line-height: 1.5
  cursor: pointer
  transition: background-color var(--trans-s), opacity var(--trans-s), color var(--trans-s), border var(--trans-s)
  border: 1px solid transparent
  &:hover
    border: 1px solid var(--primary-blue-light)
    color: var(--primary-blue-dark)
  &.fill
    background-color: var(--primary-blue)
    color: #fff
    &:hover
      background-color: var(--primary-blue-dark)
  &.disable
    opacity: .2
    pointer-events: none